<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="phpunit_bootstrap.php"
    colors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">src</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
