/**
 * Links group block
 */

.document-links-group {
  display: grid;
  grid-gap: 1em;
  line-height: 1.5;
  margin-top: 3em;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.document-links-group__link {
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  padding: 1em;
  row-gap: 10px;
  text-decoration: none;
}

.document-links-group__link__description {
  flex-grow: 1;
}

.document-links-group__link__title {
  color: var(--color-link-active);
}

ol.document-links-group__link__tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  padding-top: 1em;
}

.document-links-group__link__tag {
  background-color: var(--color-tag-background);
  border-color: var(--color-tag-border);
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  color: var(--color-tag-font);
  padding: 5px 10px;
}
