@import url("./_docs-common.css");

/**
 * Homepage
 */

.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.homepage__content {
  max-width: 1650px;
  padding: 20px;
  width: 100%;
}

.homepage__features {
  display: grid;
  gap: 1em;
  list-style-type: none;
  width: 100%;
  padding-bottom: 120px;

  @media screen and (max-width: 1479px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 1480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.homepage__feature {
  border: 1px solid var(--color-border);
  padding: 1em;
}

.homepage__title {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
  row-gap: 20px;
  width: 100%;

  @media screen and (max-width: 1023px) {
    padding: 120px 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 180px 0 260px 0;
  }
}

.homepage__title h1 {
  font-family: var(--font-family-lora);
  line-height: 1;

  @media screen and (max-width: 1023px) {
    font-size: 3.5em;
    letter-spacing: -5px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 6em;
    letter-spacing: -6px;
  }
}

.homepage__title h2 {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  font-style: italic;
  margin: 20px 0;
  max-width: 580px;
  white-space: nowrap;
  width: 100%;

  @media screen and (max-width: 1023px) {
    padding: 0 10px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 36px;
  }

  &::after,
  &::before {
    background: var(--color-link-active);
    content: "";
    height: 2px;
    width: 100%;
  }
}

.homepage__title p {
  line-height: 1.3;
  max-width: 800px;
  text-align: center;
  width: 100%;
}

.homepage__title__cta {
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  padding: 15px 20px;
  text-decoration: none;
}
