/**
 * Homepage
 */

.homepage {
  align-items: center;
  background-color: var(--color-block-background);
  display: flex;
  flex-direction: column;
  position: relative;
}

.homepage.homepage--features {
  padding: 60px 0;
}

.homepage.homepage--title {
  background-color: var(--color-body-background);
}

.homepage-gallery {
  background-color: var(--color-block-dark-background);
  color: var(--color-body-font-dark-background);
  display: flex;
  flex-direction: column;
  height: 460px;
  padding: 40px 20px;
  overflow-y: scroll;
  row-gap: 20px;
  max-width: 100vw;

  h3 {
    font-size: 2em;
    font-weight: bold;
    position: sticky;
    left: 20px;
  }
}

.homepage-gallery::-webkit-scrollbar-thumb {
  background-color: var(--color-body-background);
}

.homepage-gallery__items {
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.homepage-gallery__item {
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  min-width: 400px;

  h4 a {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    font-weight: bold;
    padding: 20px;
  }

  iframe {
    flex-grow: 1;
    height: 100%;
  }

  p {
    flex-grow: 1;
    padding: 20px;
  }
}

.homepage-gallery__item__learnmore {
  font-size: var(--font-size-smaller);
  padding: 20px;
  text-align: right;

  &::after {
    content: "→";
  }
}

.homepage__content {
  display: flex;
  flex-direction: column;
  max-width: 1480px;
  padding: 20px;1
  width: 100%;

  @media screen and (max-width: 1023px) {
    row-gap: 20px;
  }
  @media screen and (min-width: 1024px) {
    row-gap: 60px;
  }
}

.homepage__example {
  align-items: flex-start;
  display: grid;

  @media screen and (max-width: 1279px) {
    column-gap: 80px;
    grid-template-areas:
      "title"
      "code"
      "description";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 60px;
    grid-template-areas:
      "title code"
      "description code";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
    row-gap: 40px;
  }
}

.homepage__example__code {
  grid-area: code;
}

.homepage__example__description {
  display: flex;
  flex-direction: column;
  grid-area: description;
  row-gap: 1em;
}

h2.homepage__example__title {
  grid-area: title;
  margin-top: 0;
}

.homepage__examples {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
    row-gap: 80px;
  }
  @media screen and (min-width: 1024px) {
    row-gap: 160px;
  }
}

.homepage__title {
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
  overflow: hidden;
  position: relative;
  row-gap: 1em;
  width: 100%;

  @media screen and (max-width: 1023px) {
    padding: 40px 0 40px 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 100px 0 100px 0;
  }
}

.homepage__title h1 {
  font-weight: bold;
  line-height: 1;

  @media screen and (max-width: 1023px) {
    font-size: 60px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 6em;
    position: relative;
  }
}

.homepage__title h2 {
  font-weight: bold;

  @media screen and (min-width: 1024px) {
    font-size: 2em;
  }
}

.homepage__title p {
  line-height: 1.5;
  max-width: 80ch;
}

.homepage__cta {
  align-self: flex-start;
  background-color: var(--color-block-background);
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  padding: 15px 20px;
  text-decoration: none;
}

.homepage__cta.homepage__cta--example {
  align-self: flex-start;
}
