/**
 * Homepage
 */

.homepage {
  align-items: center;
  background-color: var(--color-block-background);
  display: flex;
  flex-direction: column;
  position: relative;
}

.homepage.homepage--features {
  padding: 60px 0;
}

.homepage.homepage--title {
  background-color: var(--color-body-background);
}

.homepage-drivers,
.homepage-gallery {
  background-color: var(--color-block-dark-background);
  color: var(--color-body-font-dark-background);
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 40px 20px;

  h3 {
    font-size: 2em;
    font-weight: bold;
    position: sticky;
    left: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-body-background);
  }
}

.homepage-drivers {
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.homepage-drivers__items {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.homepage-drivers__item {
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  row-gap: 20px;
  text-align: center;
  text-decoration: none;
}

.homepage-drivers__item.homepage-drivers__item--amphp {
  --drivers-bg-image: url(../images/amphp.webp);

  .homepage-drivers__item__background {
    width: 450px;
  }
}

.homepage-drivers__item.homepage-drivers__item--openswoole {
  --drivers-bg-image: url(../images/openswoole.png);
}

.homepage-drivers__item.homepage-drivers__item--other {
  --drivers-bg-image: url(../icons/plug-circle-plus-333333.svg);
}

.homepage-drivers__item.homepage-drivers__item--swoole {
  --drivers-bg-image: url(../images/swoole.png);
}

.homepage-drivers__item__background {
  background-image: var(--drivers-bg-image);
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
  width: 350px;
}

.homepage-drivers__item__name {
  font-weight: bold;
}

.homepage-drivers__item__state {
  font-size: var(--font-size-smaller);
}

.homepage-gallery {
  display: flex;
  flex-direction: column;
  height: 460px;
  row-gap: 20px;
}

.homepage-gallery__items {
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.homepage-gallery__item {
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  min-width: 400px;

  h4 a {
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    column-gap: 1ch;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
  }

  iframe {
    flex-grow: 1;
    height: 100%;
  }

  p {
    flex-grow: 1;
    font-size: var(--font-size-smaller);
    padding: 20px;
  }
}

.homepage-gallery__item__learnmore {
  font-size: var(--font-size-smaller);
  padding: 20px;
  text-align: right;

  &::after {
    content: " →";
  }
}

.homepage-gallery__version {
  display: flex;
  font-size: var(--font-size-smaller);
  font-weight: normal;
}

.homepage__content {
  display: flex;
  flex-direction: column;
  max-width: 1480px;
  padding: 20px;
  width: 100%;

  @media screen and (max-width: 1023px) {
    row-gap: 20px;
  }
  @media screen and (min-width: 1024px) {
    row-gap: 60px;
  }
}

.homepage__example {
  align-items: flex-start;
  display: grid;

  @media screen and (max-width: 1279px) {
    column-gap: 80px;
    grid-template-areas:
      "title"
      "code"
      "description";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
  }
  @media screen and (min-width: 1280px) {
    column-gap: 60px;
    grid-template-areas:
      "title code"
      "description code";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
    row-gap: 40px;
  }
}

.homepage__example__code {
  grid-area: code;
}

.homepage__example__description {
  display: flex;
  flex-direction: column;
  grid-area: description;
  row-gap: 1em;
}

h2.homepage__example__title {
  grid-area: title;
  margin-top: 0;
}

.homepage__examples {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
    row-gap: 80px;
  }
  @media screen and (min-width: 1024px) {
    row-gap: 160px;
  }
}

.homepage__title {
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
  overflow: hidden;
  position: relative;
  row-gap: 1em;
  width: 100%;

  @media screen and (max-width: 1023px) {
    padding: 40px 0 40px 0;
  }
  @media screen and (min-width: 1024px) {
    padding: 100px 0 100px 0;
  }
}

.homepage__title h1 {
  font-weight: bold;
  line-height: 1;

  @media screen and (max-width: 1023px) {
    font-size: 60px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 6em;
    position: relative;
  }
}

.homepage__title h2,
.homepage__title p {
  max-width: 1024px;
}

.homepage__title h2 {
  font-weight: bold;
  margin-top: 20px;

  @media screen and (min-width: 1024px) {
    font-size: 2em;
  }
}

.homepage__title h3 {
  font-size: 2em;
  font-weight: bold;
}

.homepage__title p {
  line-height: 1.5;
}

.homepage__cta {
  align-self: flex-start;
  background-color: var(--color-block-background);
  border-style: solid;
  border-width: 1px;
  margin-top: 20px;
  padding: 15px 20px;
  text-decoration: none;
}

.homepage__cta.homepage__cta--example {
  align-self: flex-start;
}
