@import url("./_reset.css");

:root {
  --color-body-background: #050505;
  --color-body-font: #ddd;
  --color-body-font-darker: #aaa;
  --color-border: #333;
  --color-document-background: #111;
  --color-inline-code-background: #0080ff30;
  --color-link-active: #ffc000;
  --color-link-decoration: var(--color-link-active);
  --color-primary-footer-background: var(--color-body-background);
  --color-primary-navigation-background: var(--color-body-background);
  --color-text-decoration-highlight: var(--color-body-font);
  --font-family-body: "Atkinson Hyperlegible", sans-serif;
  --font-family-lora: "Lora", var(--font-family-body), serif;
  --font-family-monospace: "Sometype Mono", monospace;
  --height-primary-navigation: 70px;
  --height-scrollbar-horizontal: 8px;
  --width-scrollbar-vertical: 8px;
  --z-index-documentation-aside: 1;
  --z-index-primary-navigation: 2;
}

@media screen and (max-width: 1023px) {
  :root {
    --font-size-base: 18px;
    --font-size-code: 16px;
    --font-size-code-smaller: 14px;
    --font-size-smaller: 16px;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --font-size-base: 24px;
    --font-size-code: 18px;
    --font-size-code-smaller: 18px;
    --font-size-smaller: 20px;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  height: var(--height-scrollbar-horizontal);
  width: var(--width-scrollbar-vertical);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
}

a {
  transition:
    filter 0.1s ease,
    opacity 0.1s ease;
}

a:active,
.turbo-clicked {
  filter: grayscale(0.5);
  transform: translate3d(1px, 1px, 0);
}

.turbo-clicked {
  opacity: 0.8;
  pointer-events: none;
}

/**
 * Body content
 */

.body-content {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

/**
 * Heading permalink
 */

.heading-permalink {
  display: inline-block;
  color: var(--color-link-active);
  font-size: 1em;
  padding-right: 10px;
  text-decoration: none;
  user-select: none;

  @media screen and (min-width: 1480px) {
    left: calc(-1ch - 10px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.heading-permalink:target {
  outline: none;
}

/**
 * Primary footer
 */

.primary-footer,
.primary-navigation {
  font-size: var(--font-size-smaller);
}

.primary-footer {
  align-items: center;
  background-color: var(--color-primary-footer-background);
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  row-gap: 80px;
}

.primary-footer__copyright,
.primary-footer__link-groups {
  max-width: 1600px;
  width: 100%;
}

.primary-footer__copyright {
  text-align: center;
}

/**
 * Primary navigation
 */

.primary-navigation {
  align-items: center;
  background-color: var(--color-primary-navigation-background);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--color-border);
  display: flex;
  flex-direction: row;
  grid-gap: 0;
  height: var(--height-primary-navigation);
  max-width: 100vw;
  overflow-x: auto;
  position: sticky;
  top: 0;
  z-index: var(--z-index-primary-navigation);
}

.primary-navigation a {
  padding: 20px 20px;
  text-decoration: none;
}

.primary-navigation a.active {
  color: var(--color-link-active);
}

.primary-navigation a.primary-navigation__github-link svg {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1023px) {
  .primary-navigation a.primary-navigation__github-link {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .primary-navigation a.primary-navigation__github-link {
    display: flex;
    margin-left: auto;
    padding: 0px 20px;
  }

  .primary-navigation a.primary-navigation__github-link:active {
    transform: unset;
  }
}

/**
 * Turbo progress bar
 */

.turbo-progress-bar {
  height: 8px;
  background-color: var(--color-link-active);
  position: fixed;
  top: 0;
  width: 100%;
}
