<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            {% for slotId, observableTask in observableTaskTable %}
                <tr>
                    <td>{{ slotId }}</td>
                    <td>{{ observableTask.status.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
